<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
      <!--767px以下の時12カラム表示-->
      <!--768px以上の時8カラム余白2カラム表示-->
      <!--1200px以上の時6カラム余白3カラム表示 -->
    <%= form_for(@task) do |f| %>
      <% if @task.errors.any? %>
        <div class="alert alert-warning" id="error_explanation">
          <ul>
            <% @task.errors.full_messages.each do |task| %>
              <li><%= task %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :status, "ステータス" %>
        <%= f.text_field :status, class: "form-control" %>
        
        <%= f.label :content, "タスク" %>
        <%= f.text_field :content, class: "form-control" %>
      </div>
        <%= f.submit "登録", class: "btn btn-primary" %>
    
    <% end %>
  </div>
</div>