<% if logged_in? %>
<!-- ログイン完了時に表示される -->
<h1>タスクリスト一覧ページ</h1>
<% if @tasks.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>ステータス</th>
      <th>タスク</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, task_path(task) %></td>
        <td><%= task.status %></td>
        <td><%= task.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="btn-toolbar" role="toolbar">
  <%= paginate @tasks %>
</div>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <%= link_to "タスクの登録はここから",new_task_path, class: "btn" %>
</button>
<!-- 必要になったら追加（その際はRouterにもuser#show追加で
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <%# link_to "マイページ",user_path(current_user), class: "btn" %>
</button>
-->

<% else %>
<!-- ログインしてない時に表示される -->
<div class="center jumbotron">
  <div class="text-center">
    <h1>あなたの未来を管理する<br>Tasklist</h1>
    <%= link_to '今すぐユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>